<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>랜애추</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css">
    <link rel="stylesheet" th:href="@{/css/info.css}" href="../../static/css/info.css">
</head>
<body>
<header th:replace="~{fragment/header.html :: header}"></header>
<nav th:replace="~{fragment/nav.html :: nav}"></nav>

<section>
    <h1 id="animeTitle" th:text="${anime.title}"></h1>
    <div id="contents">
        <div id="idx1">
            <img th:src="${anime.thumb}" src="#" alt="#">
        </div>
        <div id="idx2">
            원제: <span th:text="${anime.originalTitle}"></span><br>
            감독: <span th:text="${anime.director}"></span><br>
            제작사: <span th:text="${anime.production}"></span><br>
            장르: <span th:text="${anime.genre}"></span><br>
            분류: <span th:text="${anime.classification}"></span><br>
            방영일: <span th:text="${anime.airingDate}"></span><br>
            등급: <span th:text="${anime.grade}"></span><br>
            회차: <span th:text="${anime.episodes}"></span><br><br>
            <button onclick="goBack()">돌아가기</button>
        </div>
    </div>
    <div id="comments">
        <form th:action="@{/anime/comment}" method="post" id="commentForm" sec:authorize="isAuthenticated()">
            <textarea id="commentInput" name="comment" placeholder="내용을 입력해 주세요." maxlength="200"></textarea>
            <input type="hidden" name="code" th:value="${anime.code}">
            <button type="button" onclick="commentCheck()">작성</button>
        </form>
        <table id="commentTable">
            <tr th:each="comment : ${comments}" class="commentTr">
                <td th:text="${comment.nickName}" class="commentTd"></td>
                <td th:utext="${comment.comment}" class="commentTd"></td>
            </tr>
        </table>
    </div>
</section>

<footer th:replace="~{fragment/footer.html :: footer}"></footer>
<script th:src="@{/js/info.js}"></script>
</body>
</html>