<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>랜애추</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../../static/css/index.css">
    <link rel="stylesheet" th:href="@{/css/showByRandom.css}" href="../../static/css/showByRandom.css">
</head>
<body>
<header th:replace="~{fragment/header.html :: header}"></header>
<nav th:replace="~{fragment/nav.html :: nav}"></nav>

<section>
    <div id="contents">
        <label>
            <select name="genre" id="selectBox">
                <option value="">전체</option>
                <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}" th:selected="${nowGenre} == ${genre}"></option>
            </select>
        </label>
        <img th:src="${anime.thumb}" src="#" alt="#" th:attr="onclick=|goInfo('${anime.title}')|">
        <span th:text="${anime.title}"></span>
        <span th:text="|장르: ${anime.genre}|"></span>
        <button onclick="reset()">RESET</button>
    </div>
</section>

<footer th:replace="~{fragment/footer.html :: footer}"></footer>
<script th:src="@{/js/showByRandom.js}"></script>
</body>
</html>