<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #error
        {
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        #backButton
        {
            width: 200px;
            height: 40px;
        }
    </style>
</head>
<body>
<div id="error">
    <h1>500 Error</h1>
    <button id="backButton" onclick="history.back()">돌아가기</button>
</div>
</body>
</html>