@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root
{
    font-family: 'Noto Sans KR', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
}

/*Header start*/
.main_title
{
    font-size: 2.5rem;
    text-align: center;
}

#loginSignUp
{
    display: flex;
    justify-content: right;
    margin-right: 1vw;
    margin-bottom: 0.5vh;
    font-size: 1.2rem;
}

/*Header end*/

nav
{
    width: 100%;
    height: 6vh;
    line-height: 6vh;
    background-color: gray;
    display: flex;
    justify-content: space-around;
}

nav a
{
    font-size: 1.5rem;
}