@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root
{
    font-family: 'Noto Sans KR', sans-serif;
}

*
{
    margin: 0;
    padding: 0;
}

a
{
    text-decoration: none;
    color: black;
}

/*Header start*/
header
{
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f4f0e6;
}

.main_title h1
{
    font-size: 2.2rem;
    color: gray;
    cursor: pointer;
}

#login
{
    font-size: 1rem;
}

/*Header end*/

nav
{
    width: 100vw;
    height: 5vh;
    line-height: 5vh;
    margin: 0;
    background-color: #9dd3a8;
    display: flex;
    justify-content: space-around;
}

nav a
{
    font-size: 1.5rem;
    color: white;
}

section
{
    height: 81vh;
    margin: 0 auto;
    background-color: #f4f0e6;
}

section #main
{
    font-size: 1.5rem;
}

#contents
{
    text-align: center;
}

#contents button
{
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
}

footer
{
    width: 100vw;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    margin: 0;
    background-color: gray;
}

footer p
{
    color: white;
    margin: 0;
}