#contents
{
    height: 72vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contents label
{
    margin-bottom: 2vh;
}

#contents select
{
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 1.1rem;
}

#contents button
{
    margin-top: 4vh;
}

#contents img
{
    cursor: pointer;
}

#contents span
{
    font-size: 1.2rem;
}