<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>랜애추</title>
    <link rel="stylesheet" th:href="@{/css/index.css}" href="../static/css/index.css">
</head>
<body>
<header th:replace="~{fragment/header.html :: header}"></header>
<nav th:replace="~{fragment/nav.html :: nav}"></nav>

<section>
    <div id="contents">
        <p id="main">랜덤 애니메이션 추천 사이트에 오신 것을 환영합니다.</p>
    </div>
</section>

<footer th:replace="~{fragment/footer.html :: footer}"></footer>
<script th:src="@{/js/showByRandom.js}"></script>
</body>
</html>